.add-btn {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #464949;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  background: #fff;
  opacity: 0.8;
}

.add-btn:hover {
  background: #b78eff;
  color: #fff;
  box-shadow: 0 0 5px #b78eff, 0 0 25px #b78eff, 0 0 50px #b78eff,
    0 0 200px #b78eff;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.add-btn:nth-child(1) {
  filter: hue-rotate(270deg);
}

.add-btn:nth-child(2) {
  filter: hue-rotate(110deg);
}

.add-btn span {
  position: absolute;
  display: block;
}

.add-btn span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #b78eff);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.add-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #b78eff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.add-btn span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #b78eff);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.add-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #b78eff);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/* 버튼 위치 조절 */
.add-btn-xy {
  font-family: "Jua", cursive;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 350px;
  left: 27px;
}
